<div class="container container-margin">
  <div class="row">
    <div class="col-sm-6">
      <img src="../img/profile.jpg" class="img-responsive center-block img-thumbnail img-profile">
    </div>
    <div class="col-sm-6">
      <h1 id="profile">Profile</h1>
      <ul>
        <li>name<br/>
          Takahiro Suzuki
        </li>
        <li>birth<br/>
          1990
        </li>
        <li>place<br/>
          Tokyo, Japan
        </li>
        <li>like<br/>
          WebApps, Java, JavaScript, Angular2, bootstrap3, AWS, Python, Tabletennis, Horse Racing
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1 id="qualifications">Qualifications</h1>
      <ul>
        <li>Fundamental Information Technology Engineer (2013/10)</li>
        <li>Applied Information Technology Engineer (2015/10)</li>
        <li>Oracle Certified Java Programmer, Silver SE 8 (2015/11)</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h1 id="jobs">Jobs</h1>
      <ul>
        <li>NTT Group (2013 - 2016)</li>
        <li>Goalist (2016 -)</li>
      </ul>
    </div>
  </div>
</div>
